* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:Arial, sans-serif;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4, #fad0c4);
    padding: 20px;
    color: #333;
}
#container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#markdown-input {
    width: 100%;
    height: 120px;
    padding: 12px;
    border-radius: 12px;
    border: none;
    outline: none;
    font-size: 15px;
    background: #fff;
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

#html-output,#preview {
    width: 100%;
    height: 150px;
    border-radius: 12px;
    padding: 12px;
    background: #fff;
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
    overflow-y: auto;
    white-space: pre-wrap;
    transition: 0.3s;
}

@media (min-width: 600px) {
    #container {
        flex-direction: row;
    }

    #markdown-input,
    #html-output,
    #preview {
        height: 250px;
    }
}
body {
    cursor: url("pointerw.png") 16 16, auto;
}